doctype html
html 
    head
        link(rel="stylesheet", href="path/to/font-awesome/css/font-awesome.min.css")
        title WeTube
    body
        header
            h1 WeTube
        main
            block content
        footer  
            span &copy; WeTube