extends layouts/main

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            label(for="avatar") Avatar
            input(type="password", name="oldPassword", placeholder="old password")
            input(type="password", name="newPassword", placeholder="New Password")
            input(type="password", name="newPassword1", placeholder="Verify New Password")
            input(type="submit", value="Change Password")
