//- mixin is like a function
mixin videoBlock(video)
    div
        a(href=routes.videoDetail(video.id))
            video(src="/"+video.fileUrl, controls=true, width=640)
            
            h3 #{video.title} | #{video.description}