extends layouts/main

block content
    if errorMessage
            span.errorMessage=errorMessage
    form(action=`/users${routes.changePassword}`, method="post")
        label(for="changePassword") Change Password
        input(type="password", name="oldPassword", placeholder="Old Password")
        input(type="password", name="newPassword", placeholder="New Password")
        input(type="password", name="newPassword1", placeholder="Verify New Password")
        input(type="submit", value="Change Password")
