extends layouts/main

block content
    .form-container
        form(method="post")
            input(type="text", name="title", placeholder="Title", value=video.title)
            textarea(name="description", placeholder="Description", value=video.description)
            input(placeholder="Hashtags, separated by comma", type="text", name="hashtags")
            input(type="submit", value="update video").inputBtn
    a(href=`${video._id}/delete`) 
        span Delete Video &rarr;