extends layouts/main
include mixins/videoBlock

block content
    form(action=routes.search, method="get")
            input(type="text", placeholder="search by term...", name="term")

    div
        each video in videos
            +videoBlock({video})
