extends layouts/main

block content
		if errorMessage
				span.errorMessage=errorMessage
		.form-container
				form(method="post")
						input(type="email", name="email", placeholder="Email", required=true)
						input(type="password", name="password", placeholder="password", required=true)
						input(type="submit", value="Log In")
						br
						a(href="/users/github/start") Continue with Github &rarr;
		hr
		div
				span Don't have an account?
				a(href="/join")
						h3 Join