doctype html
html 
    head
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
        script(src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"  integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous")

        title #{pageTitle} | #{siteName}
    body
        include ../partials/header

        main
            block content
        include ../partials/footer
    block scripts